.register_form  input {
   display: block;
   margin: 1rem auto;
   height: 50px;
   width: 450px;
   border: 1px solid rgb(157, 154, 154, .6);
   padding: 10px;
   font-size: 1rem;
   color: rgb(31, 31, 145);
   border-radius: 8px;
}